@page "/Notices/Manage"

<h3>Manage</h3>

<div class="row">
    <div class="col-md-12">
        <a href="/Notices/Create" class="btn btn-primary">Create</a>
        <AuthorizeView>
            <Authorized>
            </Authorized>
            <NotAuthorized>
                <a href="/Notices/Index" class="btn btn-primary">List</a>
                <input type="button" name="btnCreate" value="Create With Modal" 
                    class="btn btn-primary"
                    @onclick="ShowEditorForm"/>
            </NotAuthorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrators, Managers">
            <a href="/Notices/Index" class="btn btn-primary">List</a>
        </AuthorizeView>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="padding-top:10px">
        @if (models == null)
        {
            @* <p><em>Loading...</em></p> *@
            <div>
                <MatProgressBar Indeterminate="true"></MatProgressBar>
            </div>
        }
        else
        {
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Action</th>
                        <th>Admin</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in models)
                    {
                        <tr>
                            <td>@m.Id</td>
                            <td @onclick="@(() => NameClick(m.Id))">
                                <a href="/Notices/Details/@m.Id">
                                    @m.Name
                                </a>
                            </td>
                            <td>@m.Created?.ToShortTimeString()</td>
                            <td>
                                <a href="/Notices/Details/@m.Id" class="btn btn-light">Details</a>
                                <a href="/Notices/Edit/@m.Id" class="btn btn-light">Edit</a>
                                <a href="/Notices/Delete/@m.Id" class="btn btn-light">Delete</a>
                            </td>
                            <td>
                                <input type="button" name="btnEdit" value="Edit With Modal"
                                       class="btn btn-primary"
                                       @onclick="(() => EditBy(m))" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <div class="col-md-12">
        <DulPager.DulPagerComponent Model="pager" PageIndexChanged="PageIndexChanged"></DulPager.DulPagerComponent>
    </div>

</div>

<NoticeApp.Pages.Notices.Component.EditorForm Model="model" @ref="EditorFormReference" CreateCallback="CreateOrEdit" EditCallback="CreateOrEdit">
    <EditorFormTitle>@EditorFormTitle</EditorFormTitle>
</NoticeApp.Pages.Notices.Component.EditorForm>